<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swmm.dao.PumpcurveMapper">
  <resultMap id="BaseResultMap" type="com.swmm.model.Pumpcurve">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="curveType" jdbcType="INTEGER" property="curvetype" />
    <result column="value1" jdbcType="DECIMAL" property="value1" />
    <result column="value2" jdbcType="DECIMAL" property="value2" />
  </resultMap>
</mapper>