<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swmm.dao.ShpnodeMapper">
  <resultMap id="BaseResultMap" type="com.swmm.model.Shpnode">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="systemType" jdbcType="VARCHAR" property="systemtype" />
    <result column="nodeID" jdbcType="VARCHAR" property="nodeid" />
    <result column="bottomEle" jdbcType="DECIMAL" property="bottomele" />
    <result column="groundEle" jdbcType="DECIMAL" property="groundele" />
    <result column="nodeType" jdbcType="VARCHAR" property="nodetype" />
    <result column="popu" jdbcType="DECIMAL" property="popu" />
    <result column="sewFlow" jdbcType="DECIMAL" property="sewflow" />
    <result column="depth" jdbcType="DECIMAL" property="depth" />
    <result column="iniDepth" jdbcType="DECIMAL" property="inidepth" />
    <result column="suiDeipth" jdbcType="DECIMAL" property="suideipth" />
    <result column="pondArea" jdbcType="DECIMAL" property="pondarea" />
    <result column="userText1" jdbcType="VARCHAR" property="usertext1" />
    <result column="userText2" jdbcType="VARCHAR" property="usertext2" />
    <result column="userText3" jdbcType="VARCHAR" property="usertext3" />
    <result column="userNum1" jdbcType="DECIMAL" property="usernum1" />
    <result column="userNum2" jdbcType="DECIMAL" property="usernum2" />
    <result column="userNum3" jdbcType="DECIMAL" property="usernum3" />
  </resultMap>
</mapper>