<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swmm.dao.ShpyanMapper">
  <resultMap id="BaseResultMap" type="com.swmm.model.Shpyan">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="weirID" jdbcType="VARCHAR" property="weirid" />
    <result column="usNodeID" jdbcType="VARCHAR" property="usnodeid" />
    <result column="dsNodeID" jdbcType="VARCHAR" property="dsnodeid" />
    <result column="linkType" jdbcType="VARCHAR" property="linktype" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="crestEle" jdbcType="DECIMAL" property="crestele" />
  </resultMap>
</mapper>