<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swmm.dao.StoragecurveMapper">
  <resultMap id="BaseResultMap" type="com.swmm.model.Storagecurve">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="depth" jdbcType="DECIMAL" property="depth" />
    <result column="area" jdbcType="DECIMAL" property="area" />
  </resultMap>
</mapper>